.sidebar-button {
    background-color:  rgb(228, 228, 228);
    color: black;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
    margin: 0px; 
    font-size: 156%;
  }
  
 .sidebar-button:hover {
    background-color: #ffffff;
  }
  
 .sidebar-button.active{
    background-color: white;
  }
