<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>
    <app-header></app-header>
    <app-body>
        
        <app-final-sidebar></app-final-sidebar>
        <section class = profile-info-container>
            <div class="container-info-image">
                <div class="profile-image-container">
                    <img src="../../../assets/profile-picture.png" alt="profile image" >
                </div>

                <div class = "user-info">
                    <h1>{{user?.username }}</h1>
                    <div class="profile-description">Explore my memories and join me on this visual journey through my experiences and discoveries.







                    </div>
                    
                    <div class="number-info">
                        <h1 class="albums-number">{{ albumsCount }}</h1>
                        <h1 class="photos-number">{{photosCount}}</h1>
                    </div>
                    <div class="component-info">
                        <h2 class="albums">Albums</h2>
                        <h2 class="photos">Photos</h2>
                    </div>
                </div>
            </div>
            <div class="album-preview">
                <div class = "album-preview-container"></div>
            </div>
        </section>
        
    </app-body>
</html>
