.login-container {
    width: 20.3%;
    margin: 6% auto;
    padding: 2.5%;
    background-color: rgba(240, 240, 240, 0.75);
    border-radius: 15px;
    text-align: center;
    margin-left: 65%; 
    margin-top: 8%;
  }
  
  .login-title {
    font-size: 325%;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: left;
    padding-left: 5%;
  }
  
  .divider {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }
  
  .input-container {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .input-field {
    width: calc(100% - 8%);
    padding: 3.5%;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: start;
  }
  