/*@import "../../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

.album-card-container {
  position: fixed;
  box-sizing: border-box;
  padding: 5%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.4;
    z-index: 5
  }

  .container {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    z-index: 6;
  }

  .divider {
      width: 100%;
    }

    .albumName {
      display: initial;
    }
  
  .flex-column {
      display: flex;
      flex-direction: column;
      gap: 5px;
  }
  
  .flex-row {
      display: flex;
      flex-direction: row;
      max-height: fit-content;
      max-width: fit-content;
      gap: 5px;
  }
}