<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home page</title>

        <script src="/js/responsive-design/responsive.js"></script>
        <script type="text/javascript" src="/js/xlu-include-file.js"></script>
        <script>
            window.onload = function () {
                startResponsive();
            }
        </script>

        <link href="/css/style-imports.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>
    <body class="no-footer home-body" style="background: black;">
        <!--header xlu-include-file="/html/components/structure-components/header.html"></header-->
        
        <div class="body-sidebar map" style="width: 1000px; height: 1000px;">
            <app-globe></app-globe>
        </div>  
      </body>
</html>
<script>xLuIncludeFile()</script>
