<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>

    <app-body>
        <app-header></app-header>
        <app-final-sidebar></app-final-sidebar>
        <app-create-album *ngIf="this.creating" (closed)="this.creating = false" (created)="addAlbum($event)"></app-create-album>
        <app-globe
            (clickAlbum)="clicked($event)"
            (hoverAlbum)="hovered($event)"
        ></app-globe>
        <app-album-preview *ngIf="this.hoveredAlbum !== ''" [albumId]="this.hoveredAlbum"></app-album-preview>
        <div style="position: absolute; top: 0; right: 0; margin: 8px;">
            <app-generic-button (click)="$event.stopPropagation()" (clicked)="this.creating = true" label="Add new album"></app-generic-button>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </app-body>

</html>
