<app-body>
    <app-header></app-header>
    <div style="display: flex; flex-direction: column; height:100%; max-height: fit-content; background-color: white;">
        <div style="height:1fr; max-height: fit-content; width: 100%;">
            <div class="container-sm about-us-text">
                <h1>About us.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in iaculis enim. Pellentesque nec lacus dolor. Suspendisse congue orci sit.</p>
            </div>
        </div>

        <div style="display: flex; justify-content: right; height:1fr; max-height: fit-content; width: 100%;">
            <div class="container-sm about-us-text">
                <div style="width: 100%; text-align: left; margin-bottom: 20px;">
                    <img style="width: 80%; max-width: 100px" src="../../assets/logo.png" alt="">
                </div>
                <h1>Who are we?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in iaculis enim. Pellentesque nec lacus dolor. Suspendisse congue orci sit.</p>
            </div>
        </div>

        <div style="height:1fr; max-height: fit-content; display: flex; flex-direction: column; width: 100%;">
            <div class="container-sm about-us-text">
                <h1>Our objectives</h1>
                <div class="objective_container">
                    <p>
                        Objective 1
                    </p>
                </div>
                <div class="objective_container">
                    <p>
                        Objective 2
                    </p>
                </div>
                <div class="objective_container">
                    <p>
                        Objective 3
                    </p>
                </div>
                <div class="objective_container">
                    <p>
                        Objective 4
                    </p>
                </div>            </div>
        </div>
    </div>
    <app-footer></app-footer>
</app-body>