.body-container {
    min-height: 100vh;
    width: auto;
    height: auto;
    display: grid;
    grid-auto-rows: auto;
  

    .desktop-container {
        display: contents;
    }

    .mobile-container {
        display: contents;
    }

    .screen-size {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .content-container {
        flex: 1; 
        overflow-y: auto;
    }
}