.body-container {
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
  

    .desktop-container {
        display: contents;
    }

    .mobile-container {
        display: contents;
    }

    .content-container {
        flex: 1; 
        overflow-y: auto;
    }
}