<!--div class="popup-container">
    <div class="overlay"></div>
    <div class="container flex-column">
        <span>
            <h2>
                Create new album
            </h2>
        </span>
        <hr class="divider">
        <div class="flex-row">
            <app-generic2-button (buttonClick)="this.result.emit(true)" [label]="this.confirm"></app-generic2-button>
            <app-generic2-button (buttonClick)="this.result.emit(false)" [label]="this.cancel"></app-generic2-button>
        </div>
    </div>
</div-->