<div class="popup-container">
    <div class="overlay"></div>
    <div class="container flex-column">
        <div style="position: absolute; top: 15px; right: 15px;">
            <app-icon-round-button (buttonClick)="return()" [link]="'assets/close.png'"></app-icon-round-button>
        </div>
        <span>
            <h2>
                Create new album
            </h2>
        </span>
        <hr class="divider">
        <div class="flex-column">
            <span>
                <h3>
                    Album name
                </h3>
            </span>
            <input type="text" placeholder="Insert album name here" [(ngModel)]="name.value" (focus)="name.valid = true" class="input-field">
            <div class="error-container">
                <p class="error-message"
                *ngIf="!this.name.valid"
                >
                {{this.name.message}}
              </p>
            </div>
        </div>
        <div class="flex-column">
            <span>
                <h3>
                    City
                </h3>
            </span>
            <app-city-list (citySelected)="citySelected($event)" (click)="this.city.valid = true"></app-city-list>
            <div class="error-container">
                <p class="error-message"
                *ngIf="!this.city.valid"
                >
                {{this.city.message}}
              </p>
            </div>
        </div>
        <div class="flex-column">
            <span>
                <h3>
                    Description
                </h3>
            </span>
            <textarea type="text" style="height: 60px;" placeholder="Insert description here" [(ngModel)]="description.value" (focus)="description.valid = true" class="input-field"></textarea>
        </div>
        <hr class="divider">
        <div class="flex-row">
            <div class="flex-column">
                <div style="left: 0; margin: auto">
                    <span>
                        <h3>
                            Start date
                        </h3>
                    </span>
                    <input type="date" id="startdate" placeholder="Insert date here" (focus)="dateStart.valid = true" class="input-field">
                    <div class="error-container">
                        <p class="error-message"
                        *ngIf="!this.dateStart.valid"
                        >
                        {{this.dateStart.message}}
                      </p>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div style="margin: auto">
                    <span>
                        <h3>
                            End date
                        </h3>
                    </span>
                    <input type="date" id="enddate" placeholder="Insert date here" (focus)="dateEnd.valid = true" class="input-field">
                    <div class="error-container">
                        <p class="error-message"
                        *ngIf="!this.dateEnd.valid"
                        >
                        {{this.dateEnd.message}}
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider">
        <!--div class="flex-row">
            <div class="flex-column">
                <div style="left: 0; margin: auto">
                    <span>
                        <h3>
                            Latitude
                        </h3>
                    </span>
                    <input type="number" placeholder="" [(ngModel)]="latitude.value" (focus)="latitude.valid = true" class="input-field">
                    <div class="error-container">
                        <p class="error-message"
                        *ngIf="!this.latitude.valid"
                        >
                        Between -90 and 90
                      </p>
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <div style="margin: auto">
                    <span>
                        <h3>
                            Longitude
                        </h3>
                    </span>
                    <input type="number" placeholder="" [(ngModel)]="longitude.value" (focus)="longitude.valid = true" class="input-field">
                    <div class="error-container">
                        <p class="error-message"
                        *ngIf="!this.longitude.valid"
                        >
                        Between -90 and 90
                      </p>
                    </div>
                </div>
            </div>
        </div-->
        <div class="flex-row">
            <app-generic2-button (buttonClick)="create()" [label]="'Create?'"></app-generic2-button>
        </div>
    </div>
</div>